# extends 'base.html'

# block head
<script type="text/javascript">
var game_id = "{{game.id}}"
var timestamp = "{{game.timestamp}}"
var turn_order = {{game.order|json}}
var turn = {{game.turn}}
var your_players = {{your_players|json}}
</script>
<script type="text/javascript" src="/static/game.js"></script>
# endblock

# block body
<h3 id="status"></h3>

Red: {{game.players.red.name}}
<table>
# for x in range(game.board|len)
<tr>
# for y in range(game.board[x]|len)
<td class="space" data_location="{{x}}-{{y}}">
# if game.board[x][y]
# set piece = game.board[x][y]
<div class="piece {{piece.player}}-player {{piece.kind}}-kind" data_player="{{piece.player}}" data_kind="{{piece.kind}}">
  <img src="/static/pieces/{{game.board[x][y].kind}}.png">
</div>
# endif
</td>
# endfor
</tr>
# endfor
</table>
Blue: {{game.players.blue.name}}

# include "chat.html"
# endblock