# extends 'base.html'
# block head
<script type="text/javascript">
var timestamp = "{{timestamp}}"
/*
$(document).ready(function(){
  console.debug("Going")
  $('#chat').submit(function(event){
    event.preventDefault()
    data = $(event.target).serialize()
    $.post('/chat',data)
  })
  
  event_period = 1000
  function checkEvents(){
    data = {timestamp:timestamp,stuff:{things:"hey"}}
    $.getJSON('/chat', data, function(response){
      timestamp = response.timestamp
      $.each(response.chats,function(){
        $('#messages').prepend("<p>New Message: "+this.text+"</p>" )        
      })
      console.debug(response)      
      setTimeout(checkEvents, event_period)
    })
  }
  setTimeout(checkEvents, event_period)  
})*/

</script>
# endblock
# block body

<h2>Users</h2>
# for user in users
<a href="/users/{{user.slug}}">{{user.name}}</a>
# endfor

<h2>Games</h2>
# for game in games
<a style="background-color:#{{game.id|hex_color}}; color:#{{game.id|hex_color(-1)}}" href="/games/{{game.id}}">{{game.id}}</a>
# endfor


# endblock