<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <link rel="stylesheet" type="text/css" href="static/style.css">
<script type="text/javascript" src="static/mootools-1.2-core-nc.js"></script>
<script type="text/javascript" src="static/mootools-1.2-more.js"></script>
<script type="text/javascript" src="static/boardgame.js"></script>
</head>
<body>
<table>
#for $row in $board
<tr>

#for $space in $row
<td class="space">

#if $space
<div class="piece">
$space
</div>
#end if

</td>
#end for

</tr>
#end for
</table>
</body>
</html>